<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.e_commerce">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo_trans"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_logo_trans_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".HistoryHoaDon"
            android:exported="false" />
        <activity
            android:name=".DatHang"
            android:exported="false" />
        <activity
            android:name=".HoaDonActivity"
            android:exported="false" />
        <activity
            android:name=".OTPverificationActivity"
            android:exported="true" />
        <activity
            android:name=".UpdateInfoActivity"
            android:exported="true" />
        <activity
            android:name=".MyAddressActivity"
            android:exported="true" />
        <activity
            android:name=".AddAddressActivity"
            android:exported="true"
            android:theme="@style/RedProgressBar" />
        <activity
            android:name=".DeliveryActivity"
            android:exported="true" />
        <activity
            android:name=".OrderDetailsActivity"
            android:exported="true" />
        <activity
            android:name=".CategoryActivity"
            android:exported="true" />
        <activity
            android:name=".ViewAllActivity"
            android:exported="true" />
        <activity
            android:name=".NotificationActivity"
            android:exported="true" />
        <activity
            android:name=".SearchActivity"
            android:exported="true" />
        <activity android:name=".RegisterActivity" />
        <activity
            android:name=".ProductDetailsActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>